.firstBlock {
    border:none;
    /* margin-top: -1%; */
    margin: auto; 
    /* width: 100vw; */
	background-image: url(../../public/wave.svg);
    background-position: fixed;
	background-size: cover;
	background-repeat: no-repeat;
}