.main {
	margin-left: 200px;
	margin-top: 10px;
	padding: 40px;
}

.blackMode {
	height: 100vh;
	background-color: #f5f5f5;
}

@media screen and (max-width: 768px) {	
	.main {
		margin-left: 0px;
	}
}

@media screen and (max-width: 400px) {
	.main {
		margin-left: 0px;
	}
}